* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* BLANCA */

.content{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header-nav{
    display: grid;
    grid-template-columns: 250px auto;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color:#E5F4F2;
}
.logo-content{
    display: flex;
    align-items: center;
    width: 124%;
    padding: 20px 20px; 
    
}
.logo-content img{
    width: 15.63px;
    height: 20px;
    margin-right: 10px;
}
.headtitulo{
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    margin-right: 10px;
}

.nav-bar ul li a {
    text-decoration: none;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    margin-left: 100px ;
    
}


.content-navbar{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-bar {
        
        margin-left: auto;
        padding:20px;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        
}

.content-main{
    background-color:#1B1F23;
}

.review{
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-gap: 30px;
    padding:20px;
    justify-content: center;
    background-color:#1B1F23;
    
}

#textqueopinan{
    
    margin-top: 20px;
    text-align: center;
    color: #E5F4F2;

}

#text-leeopiniones{
    
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    color: #E5F4F2;
    text-align: center;
    margin-top: 10px;

}

.star{
    color:gold;
}

.card-img-top1, .card-img-top2, .card-img-top3 {
    margin-left: 40%;
    width: 56px;
    height: 56px;
    
}

.rating{
    margin-top: 10%;
    justify-content: center;
    
}
.rating1{
    margin-top: 20%;
}
.rating3{
    margin-top: -2%;
}

.card{
    
   padding: 20px;
   text-align: center;
    
}

.card1{

    margin-bottom: 120px;
}

.card2{
    margin-bottom: 120px;
}

.card3{ 
    margin-bottom: 120px;
}

.card-body h5{

    margin-top: 2px;
    text-align: center;
}

.card-body2 {
    
    margin-top: 18px;
    text-align: center;
     
}

.card-title{
    font-weight: 600px;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}
.card-text{
    
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    color: #2D2D2D;
}

@media screen and (min-width: 375px) and (max-width: 1200px) {
    .content-navbar{
        display: none;
    }
    
    .content-navbar{

        flex-direction: column;
        margin-right: 80px;
        
}
    .card-top-text{
        display: flex;
        flex-direction: column;
    }
    .review{
        display: flex;
        flex-direction: column;
        padding: 50px;
        justify-content: center;
        align-items: center;
       
    }
    .card1, .card2, .card3{
         
         width: 315px;
         height: 417px;
    
       
    
    }
  
}

/* CARITO */

.btm-scroll, .btm-scroll img{
    height: 30px;
    width: 30px;
    color: white;
    background-color: white;
    text-decoration: none;
    text-align: center;
    padding: 0;
}

.btm-scroll{
    position: fixed;
    bottom: 40px;
    right: 50px;
    border-radius: 30px 30px;
}

.icon-up-arrow:hover{
    background-color: #009379;
    border-radius: 30px 30px;
}

/* SECTION 0 */
.container-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 80px;
    background-color:#1B1F23;
    color:white;
}


.main {
    height: 700px;
    display: flex;
    flex-flow: row nowrap;
}

.title-p-buttom{
    height: 430px;
    gap: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right:40px;
}

h1, h2, h3, .btm-contactame{
    font-family: 'Poppins';
}

h1 {
    font-size: 67px;
    margin:0;
    font-weight: 700;
}

p, aside {
    font-family: 'Mulish';
    font-size: 21px;
    line-height: 31.5px;
}

.btm-contactame{
    width: 207px;
    height: 60px;
    font-size: 16px;
    line-height: 24px;
    background-color: #009379;
    color: white;
    border:none;
}

.btm-contactame, .img-main{
    border-radius: 20px;
}

/* SECTION 1 */
.container-nuestros-valores {
    background-color: #E5F4F2;
    width: 100%;
    height: 600px;
    padding: 120px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    position: relative;
    color:#1B1F23;
    border:0;
}

h2{
    font-size: 32px;
    line-height: 41.6px;
}

h2, h3{
    display: flex;
    justify-content: center;
    position: relative;
}

.section1 {
    background-color: white;
    width: 370px;
    height: 228px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 18px;
    border-radius: 20px;
    gap:30px;
}

.content-nuestros-valores{
    display: flex;
    background-color:#E5F4F2;
}

.icon-economico, .ico-calidad, .icon-ecofriendly {
    width: 82px;
    height: 82px;
    border-radius: 20px;
    padding: 20px;
}

.calidad{
    background-color: rgba(255, 98, 80, 0.2);
}

.ecofriendly{
    background-color: #00937933;
}

.economico {
    background-color: hsla(43, 90%, 73%, 0.2);
}

h3 {
    font-size: 28px;
    line-height: 26.4px;
}

/* SECTION 2 */
.container-top-ventas{
    width: 1280px;
    height: 950px;
    padding: 120px 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

#container-top-ventas{
    background-color:#1B1F23;
}

.content-top-ventas{
    display: flex;
    background-color:#1B1F23;
}

.h2-top-ventas{
    color: white;
}

.content-top-ventas > figure {
    height: 548px;
    border-radius: 20px;
    outline: #1B1F23 solid 20px;
    padding: 30px;
}

.producto h3 {
    display: flex;
    justify-content: flex-start;
}

.producto p{
    padding-top: 12px;
}

.product {
    width: 370px;
    height: 278px;
}

aside{
    padding-top: 12px;
    font-size: 16px;
}


@media screen and (min-width:375px) and (max-width:1200px){
    /* SECTION 0 */
/*.container-main{
    width: 375px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding: 120px 80px; */
    background-color:#1B1F23;
    color:white;
}

.title-p-buttom{
    gap: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right:40px;
}

h1, h2, h3, .btm-contactame{
    font-family: 'Poppins';
}

h1 {
    font-size: 67px;
    margin:0;
    font-weight: 700;
}

p, aside {
    font-family: 'Mulish';
    font-size: 21px;
    line-height: 31.5px;
}

.btm-contactame{
    width: 207px;
    height: 60px;
    font-size: 16px;
    line-height: 24px;
    background-color: #009379;
    color: white;
    border:none;
}

.btm-contactame, .img-main{
    border-radius: 20px;
}

.img-main{
    width: 290px;
    height: 290px;
}

/* ANA */
.team {
    background-color: #E5F4F2;
    height: 850px;
}

.team-tittle {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 20px;
    margin:0;
}

.team-subtittle {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.card1,
.card2,
.card3 {
    height: 459px;
    width: 370px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
}

.card1,
.card2 {
    margin-right: 30px;
}

.photo-card {
    width: 370px;
    height: 278px;
    border-radius: 20px 20px 0 0;
}

.name-card {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.subname-card {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 6px;
}

.redes-team {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding:0;
    margin-bottom: 30px;
}

.twitter-li,
.dribbble-li,
.insta-li {
    display: block;
    width: 29px;
    height: 29px;
    background-color: #E5F4F2;
    border-radius: 100%;
    margin-right: 16px;
    
}

.twitter-icon, .dribbble-icon, .insta-icon{
    width: 15px;
    height: 15px;
    margin-left: 7px;
    margin-top: 0;
}

.twitter-li:hover,.dribbble-li:hover,.insta-li:hover{
    background-color: #009379;
}



/*VERSIÓN MÓVIL-DESKTOP*/
@media screen and (min-width: 375px) and (max-width: 1200px){
    .team-list{
        flex-direction: column;
    }
    
    .team {
        height: 100%;
    }
    
    .card1,.card2,.card3 {
        height: 417px;
        width: 315px;
    }

    .card1, .card2{
        margin-right: 0;
        margin-bottom: 20px ;
    }

    .card3 {
        margin-bottom: 60px;
    }
    
    .photo-card{
        width: 315px;
        height: 236px;
    }

}


