*{
    margin: 0;
}

.content{

    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 4050px;
    
}

.header-nav{
    display: grid;
    grid-template-columns: 250px auto;
    align-items: center;
    width: 124%;
    height: 100px;
    background-color:#E5F4F2;
}
.logo-content{
    display: flex;
    align-items: center;
    width: 124%;
    padding: 20px 20px; 
    
}
.logo-content img{
    width: 15.63px;
    height: 20px;
    margin-right: 10px;
}
.headtitulo{
    font-family: Poppins;
    font-weight:bold;
    margin-right: 10px;
}

.nav-bar ul li a {
    text-decoration: none;
    color:black;
    font-family: Poppins;
    font-weight:bold;
    margin-left: 100px ;
    
}

.nav-bar ul li{
   
    display: inline-block;
    
   
}

.nav-bar {
        
        display: flex;
        margin-left: auto;
        padding:20px;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        
}
.review{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    position: absolute;
    width: 100%;
    justify-content: center;
    background-color:#1B1F23;
   
}
.card-top-text {
    margin-top: 12%;
    margin-left: 10%;
    grid-column: 2;
    text-align: center;

    color: #E5F4F2;
}

.star{
    color:gold;
}

.card-img-top, .card-img-top2, .card-img-top3 {
    /*padding: 30px 90px 80px 90px;*/
    width: 56px;
    height: 56px;
    
}

/*.card-img-top1{
    padding: 30px 90px 80px 90px;
    
}*/

.rating{
    display: flex;
    justify-content: center;
    
}
.card {
    display: flex;
    grid-column: 1;
    /*width: 25rem;*/
   /* width: 370px;
   */
    height: 400.08px;
   /* margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 20%;
    border-radius: 30px*/
    
}
.card2{
    grid-column: 2;
    border-radius: 15%;
}

.card3{
    grid-column: 3;
}

.card-body h5{

    margin-top: 2px;
    text-align: center;
}

.card-body2 {
   
    margin-top: 18px;
    text-align: center;
     
}
.rating1{
    margin-top: 22%;
}
.img-rev2{
    width:30% ;
    margin-block: 10%;
    margin-left: 30%;
}
