*{
    margin: 0;
}

.content{

    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.header-nav{
    display: grid;
    grid-template-columns: 250px auto;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color:#E5F4F2;
}
.logo-content{
    display: flex;
    align-items: center;
    width: 124%;
    padding: 20px 20px; 
    
}
.logo-content img{
    width: 15.63px;
    height: 20px;
    margin-right: 10px;
}
.headtitulo{
    font-family: Poppins;
    font-weight:bold;
    margin-right: 10px;
}

.nav-bar ul li a {
    text-decoration: none;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    margin-left: 100px ;
    
}

.nav-bar ul li{
   
    display: inline-block;
    
   
}

.nav-bar {
        
        display: flex;
        margin-left: auto;
        padding:20px;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        
}

.content-main{
    background-color:#1B1F23;
}

.review{
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-gap: 30px;
    padding:20px;
    justify-content: center;
    background-color:#1B1F23;
    
}

.card-top-text h2{
    
    margin-top: 20px;
    text-align: center;
    color: #E5F4F2;
}

.card-top-text h2, p{
   
    margin-top: 50px;
    text-align: center;
    color: #E5F4F2;
    font-family: 'Mulish', sans-serif;
}
.card-top-text h2{

    font-family: 'Poppins', sans-serif;
}

.star{
    color:gold;
}

.card-img-top1, .card-img-top2, .card-img-top3 {
    margin-left: 40%;
    width: 56px;
    height: 56px;
    
}

.rating{
    margin-top: 20%;
    justify-content: center;
    
}
.rating1{
    margin-top: 26%;
}
.rating3{
    margin-top: 12%;
}

.card{
    
   padding: 20px;
   text-align: center;
    
}

.card1{


    margin-bottom: 120px;
}

.card2{
    margin-bottom: 120px;
}

.card3{ 
    margin-bottom: 120px;
}

.card-body h5{

    margin-top: 2px;
    text-align: center;
}

.card-body2 {
    
    margin-top: 18px;
    text-align: center;
     
}

.card-title{
    font-weight: 600px;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}
.card-text{
    
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    color: #2D2D2D;
}

